div.jumbotron
  h1 Book a Space
  
  p Welcome to Book a Space!<br/>Book a Space makes it fast and easy to find a workspace when you need it.

  p 
    a(class="btn btn-lg btn-primary" href="/findaspace" role="button") Get Started &raquo