div.jumbotron
  h3 Policies and Conditions
  
  ul
    li Reservation Time Blocks
      ul
        li AM: 7 AM to NOON
        li PM: NOON to 5 PM
    li Reservations for parking only are not available.  A single parking space may only be reserved in conjunction with a single workspace (cubical) reservation. 
    li No office supplies are provided in these work areas—Please bring all materials you require for your workday/meeting.
    li Space may be booked by individuals with Commonwealth ID only.  All users must present Commonwealth ID to gain access to the work area.
    li Each work area provides access to electrical power and network connectivity.
    li If you require access to the building’s wireless network, contact the Wireless Ambassador at 717-214-3524.
    li No smoking is permitted within work areas—smokers are restricted to designated smoking areas outside the building and must comply with all posted restrictions/policies.
    li Food & beverage is permitted in the work areas, however, cleaning any spills within a work area are the occupant’s responsibility and must be reported to the Facility Manager at 717-214-3524.
    li Vending and snack bar faclities are available on site.  Use of microwaves and water coolers on the premises may be used by occupants.
    li Those requiring access to multifunctional printers/copiers/scanners must contact the Facility Manager to gain access to the equipment.  24 hour notice is required to ensure access to the equipment by the occupant for the reserved period.
    li Portable electrical devices such as space heaters, etc., are prohibited in the work area.
    li All walkways must remain clear, therefore, work materials/equipment must be stowed in the reserved work area.
    li At the end of the workday, remove all work materials—unless you have reserved the work area for successive, contiguous workdays.   Building management is not responsible for any lost or stolen items left in work areas.  Keys to desks/cabinets within the reserved space may be obtained from the Facility Manager and must be returned to at the end of the reserved period. 
    li Upon departure, ensure that the work area you have used is clear of all materials and trash is disposed of in the workstations trash receptable or in a hallway trash/recycling bins.
    li Observe all building security procedures. 
    li Consult the emergency evacuation map posted in the work area.  If the fire alarm sounds, everyone is required to evacuate and assemble outside the building in accordance with the directions provided on the evaucation map in your reserved work area.




