div(class="panel panel-default")
 div.panel-heading
    h1.panel-title Reservation Receipt
  div.panel-body
    div.row
      div.receipt-head
        div.col-xs-4
          p.list-group-item-text {{reserverName}}
          p.list-group-item-text {{reserverEmail}}

        div(class="receipt col-xs-4 col-xs-offset-4")
          p.list-group-item-text  {{workspaceId}} <br> {{workspaceBuilding}} <br> {{workspaceFloor}} Floor <br> {{workspaceRoom}}

    div.receipt-body
      table.table
        thead
          tr
            th Date
            th Description
            th Charge
        tbody
          tr
            td {{reservationDateOf | date}}
            td Room Rate
            td {{workspaceRate | currency}}
          tr
            td {{reservationDateOf | date}}
            td Parking Cost
            td {{parkingCost | currency}}

    div.row
      div(class="col-xs-4 col-xs-offset-8")
        p <strong>Balance:</strong> {{workspaceRate + parkingCost | currency}}

    button(type="button" ng-click='print()' class="btn btn-primary pull-right hidden-print") Print