//
// Book A Space
// Copyright 2015.
// Please see LICENSE for terms of use.
//
// This component provides the test2 layout for use with Jade.
p Test2 Welcomes you
h5 {{test2_name}}

a(href='/')< Go back