div(class="panel panel-default")
 div.panel-heading
    h1.panel-title Filter & Sort
  div.panel-body
    div.row
      div.col-sm-4
        label Sort By:
        select(class="form-control" ng-model="sortExpression")
          option(value="") Any
          option(value="amRate") AM Rate
          option(value="pmRate") PM Rate
      div.col-sm-4
        label Workspace Type:
        select(class="form-control" ng-model="query.type")
          option(value="") Any
          option(value="Cubicle") Cubicle
          option(value="Office") Office
          option(value="Conference Room") Conference room
      div.col-sm-4
        label Location:
        select(class="form-control" ng-model="query.building")
          option(value="") Any
          option(value="Forum Place") Forum Place
          option(value="Keystone") Keystone Building
          option(value="Finance") Finance Building




div(class="panel panel-default")
  div.panel-heading
    h4.panel-title Workspaces
  div.panel-body
    accordion(close-others="false")
      accordion-group(ng-repeat="workspace in workspaces | orderBy: sortExpression | filter: query" is-open="status.open")
        accordion-heading
          | {{workspace._id}}
          | <i class="pull-right glyphicon" 
          |   ng-class="{'glyphicon-chevron-down': status.open, 
          |   'glyphicon-chevron-right': !status.open}"></i>

        div.row
          div.col-sm-4
            div.list-group
              a.list-group-item
                h4.list-group-item-heading <strong>Agency</strong>
                p.list-group-item-text {{workspace.agency}}

              a.list-group-item
                h4.list-group-item-heading <strong>Building</strong>
                p.list-group-item-text {{workspace.building}}

              a.list-group-item
                h4.list-group-item-heading <strong>Floor</strong>
                p.list-group-item-text {{workspace.floor}}

              a.list-group-item
                h4.list-group-item-heading <strong>Room</strong>
                p.list-group-item-text {{workspace.room}}

              a.list-group-item
                h4.list-group-item-heading <strong>Type</strong>
                p.list-group-item-text {{workspace.type}}

              a.list-group-item
                h4.list-group-item-heading <strong>Size</strong>
                p.list-group-item-text {{workspace.size}}




          div.col-sm-4
            div.list-group
              a.list-group-item
                h4.list-group-item-heading <strong>AM Rate</strong>
                p.list-group-item-text {{workspace.amRate | currency}}

              a.list-group-item
                h4.list-group-item-heading <strong>PM Rate</strong>
                p.list-group-item-text {{workspace.pmRate | currency}}

          div.col-sm-4
            div.list-group
              a(class="list-group-item list-group-item")
                h4.list-group-item-heading <strong>Inventory</strong>
              a(class="list-group-item" ng-repeat="item in workspace.inventory")
                p(class="list-group-item-text") {{item}}

        div.row
          div(class="col-sm-2 col-sm-offset-10")
            p 
              button(ng-click="editWorkspace('lg', workspace)" type="button" class="btn btn-warning" id="spacedBtn") Edit
              button(ng-click="deleteWorkspace(workspace)" type="button" class="btn btn-danger" id="spacedBtn") Remove

              script(type="text/ng-template" id="partials/editWorkspace")
                div.modal-header
                  h3.modal-title Edit {{workspace._id}}
                    button(type="button" ng-click="cancel()" class="btn-lg close pull-right" aria-label="Close")
                      span(aria-hidden="false")&times;

                div.modal-body
                  form
                    div.row
                      div.col-sm-6
                        div.form-group
                          label(for="id") ID:
                          input(type="text" class="form-control" id="id" value="{{id}}" disabled)

                      div.col-sm-6
                        div.form-group
                          label(for="type") Type:
                          select(id="type" class="form-control" ng-model="workspace.type")
                            option(value="" disabled selected) {{workspace.type}}
                            option(value="Cubicle") Cubicle
                            option(value="Conference Room") Conference Room
                            option(value="Office") Office


                    div.row
                      div.col-sm-6
                        div.form-group
                          label(for="agency") Agency:
                          input(type="text" class="form-control" id="agency" ng-model="workspace.agency")

                      div.col-sm-6
                        div.form-group
                          label(for="floor") Floor:
                          input(type="text" class="form-control" id="floor" ng-model="workspace.floor")

                    div.row
                      div.col-sm-6
                        div.form-group
                          label(for="room") Room:
                          input(type="text" class="form-control" id="room" ng-model="workspace.room")

                      div.col-sm-6
                        div.form-group
                          label(for="size") Size:
                          input(type="text" class="form-control" id="size" ng-model="workspace.size")

                    div.row
                      div.col-sm-3
                        label(for="amRate") AM Rate:
                        div.form-group
                          div.input-group
                            span.input-group-addon $
                            input(type="number" class="form-control" id="amRate" ng-model="workspace.amRate" step="0.01" size="6")

                      div.col-sm-3
                        label(for="pmRate") PM Rate:
                        div.form-group
                          div.input-group
                            span.input-group-addon $
                            input(type="number" class="form-control" id="pmRate" ng-model="workspace.pmRate" step="0.01" size="6")

                    div.row
                      div.col-sm-6
                        label Inventory
                        ul(class="list-group" id="inventory")
                          li(class="list-group-item" ng-repeat="item in workspace.inventory") {{item}}
                            button(type="button" ng-click="removeItem(item)" class="btn-lg close pull-right" aria-label="Close")
                              span(aria-hidden="false")&times;
                        div.input-group
                          input(type="text" class="form-control" id="newItem" placeholder="New Item" ng-model="item")
                          span.input-group-btn
                            button(type="button" class="btn btn-default" ng-click="addItem(item)") Add

                div.modal-footer
                  button(type="button" ng-click="commitEdit()" class="btn btn-primary") Submit
                  button(ng-click="cancel()" type="button" class="btn btn-danger") Cancel

              script(type="text/ng-template" id="partials/deleteWorkspace")
                div.modal-header
                  h3.modal-title Are you sure?
                    button(type="button" ng-click="cancel()" class="btn-lg close pull-right" aria-label="Close")
                      span(aria-hidden="false")&times;
                div.modal-body
                  p Really delete {{ workspace._id }} ?
                div.modal-footer
                  button(ng-click="delete()" type="button" class="btn btn-danger") Delete
                  button(ng-click="cancel()" type="button" class="btn btn-warning") Cancel